<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.benpao.viewactivity"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk
        android:minSdkVersion="19"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_icon_yupan"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name="org.benpao.viewactivity.Start"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="org.benpao.viewactivity.RegActivity" />
        <activity android:name="org.benpao.viewactivity.ForgetActivity" />
        <activity android:name="org.benpao.viewactivity.MainActivity"></activity>
        <activity android:name=".noticesupport"></activity>
        <activity android:name=".downloadsupport"></activity>
        <activity
            android:name="org.benpao.viewactivity.UserActivity"
            android:label="@string/title_activity_user"
            android:theme="@style/AppTheme" />

    </application>

</manifest>